<header class="header">
    <a href="/" class="header_logo">Node Js</a>

    <nav class="header_nav">
        <ul>
            <li><a href="/">Home</a></li>
            <li><a href="/about">About</a></li>
            <li><a href="/contact">Contact</a></li>
        </ul>
    </nav>

    <div class="header__button">
        <a class="searchBtn btn" aria-expanded="false" href="/logout">
          Logout         
        </a>
      </div>
</header>