<div class="searchBar">
    <div class="container">
        <form action="/search" method="POST" class="search_form" role="search">
            <input type="search" aria-label="search" name="searchTerm" placeholder="Search the site" id="searchInput">
        </form>
        <div id="searchClose">Close</div>
    </div>
</div>